Repository DotNetAnalyzers/PublicApiAnalyzer: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "build/PublicApiAnalyzer/::PublicApiAnalyzer/"

comment:
  layout: "diff"

flags:
  production:
    paths:
      - PublicApiAnalyzer/PublicApiAnalyzer/
      - PublicApiAnalyzer/PublicApiAnalyzer.CodeFixes/
  test:
    paths:
      - PublicApiAnalyzer/PublicApiAnalyzer.Test/

Split the release into stable and unstable packages
  PublicApiAnalyzer/PublicApiAnalyzer.CodeFixes/PublicApiAnalyzer.CodeFixes.csproj
  PublicApiAnalyzer/PublicApiAnalyzer.CodeFixes/PublicApiAnalyzer.Metadata.nuspec
  PublicApiAnalyzer/PublicApiAnalyzer.CodeFixes/PublicApiAnalyzer.nuspec
Due: production

Structs always have an implicit constructor
  PublicApiAnalyzer/PublicApiAnalyzer.Test/ApiDesign/DeclarePublicAPIAnalyzerTests.cs
  PublicApiAnalyzer/PublicApiAnalyzer/ApiDesign/DeclarePublicAPIAnalyzer.Impl.cs
Due: production, test

Include changes from dotnet/roslyn-analyzers#1657
  PublicApiAnalyzer/PublicApiAnalyzer.Test/ApiDesign/DeclarePublicAPIAnalyzerTests.cs
  PublicApiAnalyzer/PublicApiAnalyzer/ApiDesign/DeclarePublicAPIAnalyzer.Impl.cs
Due: production, test

Add placeholder documentation pages
  PublicApiAnalyzer/PublicApiAnalyzer.Test/Verifiers/DiagnosticVerifier.cs
  PublicApiAnalyzer/PublicApiAnalyzer/ApiDesign/DeclarePublicAPIAnalyzer.cs
  docs/RS0016.md
  docs/RS0017.md
  docs/RS0022.md
  docs/RS0024.md
  docs/RS0025.md
  docs/RS0026.md
  docs/RS0027.md
Due: production, test

Specify .NET SDK version in global.json
  global.json
Due: none

Add badges for NuGet releases
  README.md
Due: none

Removed unused documentation folder from solution
  PublicApiAnalyzer.sln
Due: none
